* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


:root {
   --index: calc(1vw + 1vh);
   --text: #e7e7e0;
   --text_footer: #ffe4c5;
   --shadow_blue: 0 0 15px rgb(63, 255, 253);
   --shadow_pink: 0 0 15px #ff6792;
   --transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1);

}

@font-face {
   font-family: raleway_f;
   src: url(../fonts/raleway-regular.woff2);
}

@font-face {
   font-family: raleway_f;
   src: url(../fonts/raleway-black.woff2);
   font-weight: 900;
}

body {
   background-color: #010101;
   font-family: raleway_f, sans-serif;
   line-height: 1.55;
}

.main-header {
   position: relative;
}

.main-header::after {
   content: "";
   position: absolute;
   z-index: 100;
   width: 100%;
   height: calc(var(--index) *10);
   /*background-image: url(../img/ground.png);*/
   /*background-size: cover;*/
   background-repeat: no-repeat;
   background-position: center;
   bottom: calc(var(--index) * -4);
}

.layers {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   overflow: hidden;
   position: relative;
}

.layer {
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
   will-change: transform;
   z-index: 2;
   transition: var(--transition);
}

.layers__base {
   transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
   z-index: 0;
}

.layers__middle {
   transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
}

.layers__front {
   transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
   z-index: 1;
   transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
   transition: var(--transition);
   text-transform: uppercase;
   will-change: transform;
   font-weight: 900;
   color: var(--text);
   text-shadow: var(--shadow_blue);
   padding-right: 30%;
   padding-bottom: 40px;
}

.layers__title {
   font-size: calc(var(--index)* 2.5);
   letter-spacing: calc(var(--index)/ 2);
}

.layers__caption {
   font-size: calc(var(--index)/ 1.175);
   letter-spacing: calc(var(--index)/ 3.5);
   margin-top: calc(var(--index)*-0.75);

}

.main-acrticle {
   
   --main-article-transform: translate3d(0, calc(var(--scrollTop) / -15), 0);
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   color: var(--text);
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: var(--shadow_pink);
   position: relative;
   text-align: center;
}



.main-article__header {
   text-transform: uppercase;
   transition: var(--transition);
   font-size: calc(var(--index) * 1.8);
   letter-spacing: calc(var(--index) / 7);
   transform: var(--main-article-transform);
   will-change: transform;
}
.footer-article__header {
   
   color: var(--text_footer);
   text-transform: uppercase;
   transition: var(--transition);
   font-size: calc(var(--index) * 1.8);
   letter-spacing: calc(var(--index) / 7);
   transform: var(--main-article-transform);
   will-change: transform;
}

.main-article__paragraph {
   transition: var(--transition);
   max-width: calc(var(--index) * 30);
   font-size: calc(var(--index) * .8);
   margin-top: calc(var(--index) / 1.8);
   transform: var(--main-article-transform);
   will-change: transform;
}

.footer-article__paragraph{
   color: var(--text_footer);
   font-weight: bold;
   text-shadow: var(--shadow_pink);
   transition: var(--transition);
      max-width: calc(var(--index) * 30);
      font-size: calc(var(--index) * .8);
      margin-top: calc(var(--index) / 1.8);
      transform: var(--main-article-transform);
      will-change: transform;
}

.content {
   will-change: transform;
}

.copy {
   color: white;
   position: absolute;
   bottom: calc(var(--index));
   opacity: .45;
   font-size: calc(var(--index) * .75);
   letter-spacing: calc(var(--index) / 37);
}


form {
   padding: 40px;
}


.form-grup label {
   display: block;
   font-size: 30px;
   margin-bottom: 10px;
}

::placeholder {
   color: #08E2DD
}

.form-grup input, textarea {
   border-radius: 9px;
   transition: var(--transition);
   background-color: rgba(231, 109, 119, 0.5);
   color: #fff;
   border: none; 
   width: 100%;
   padding: 10px;
   font-size: 20px;
   margin-bottom: 4px;
}

textarea{
   height:150px ;
}


input.invalid{
border: 1px solid #f78583;
}



.error-hint{
   color: #f78583;
   text-align: start;
}

hr{
   height: 1px;
   background-color: #f78583;
   border: none;
   margin-top: 10px;
   margin-bottom: 10px;
}

button{
   font-weight: bold;
   padding: 10px;
   font-size: 24px;
   background: none;
   border: 1px solid #ff8502;
   border-radius: 10px;
   color: #b35c00;
   transition: all 0.7s;
   cursor: pointer;
   float: right;
   
}

button:hover{
   background-color:#ff8502 ;
   color: #010101;

}

button:disabled,
button[disabled] {
   border: rgb(239, 240, 240);
   background-color:rgba(6, 100, 131);
   color:#906b6a;
}

.hidden{
   display: none;
}

.thank-you{
   text-shadow: var(--shadow_pink);
   padding: 50px;
   text-align: center;
   text-transform: uppercase;
      transition: var(--transition);
      font-size: calc(var(--index) * 1.8);
      letter-spacing: calc(var(--index) / 7);
      transform: var(--main-article-transform);
      will-change: transform;
}

label{
   font-size: calc(var(--index) * 1.8);
      font-size: 8px;
   text-align: start;
}


input[type="submit"] {
   display: block;
   padding: 6px 30px;
   font-size: 14px;
   background-color: #4460AA;
   color: #fff;
   border: none
}


.field {
   margin-bottom: 10px;
}

.field label {
   display: block;
   font-size: 12px;
   color: #777;
}

.field input {
   display: block;
   min-width: 250px;
   line-height: 1.5;
   font-size: 14px;
}

input[type="submit"] {
   display: block;
   padding: 6px 30px;
   font-size: 14px;
   background-color: #4460AA;
   color: #fff;
   border: none
}

